<%- include("partials/header") -%>

<link rel="stylesheet" href="/css/dashboard.css">
<div class="dashboard">
  <h1>This design is yet to be done</h1>
  <h2>Here, the slots of everyone will be displayed</h2>
</div>
<!--  -->
