<%- include("partials/header") -%>

<link href="css/dashboard.css" rel="stylesheet">

<h1>Mark Your Availability</h1>
<br>
  <form class="" action="/dashboard" method="post">
    <label for="Year"> Enter date in the format DD/MM/YYYY</label>
    <input type="text" id="year" name="date">

    <label for="slot"> Enter Start Time </label>
    <input type="text" id="time" name="startTime">

    <label for="slot"> Enter End Time </label>
    <input type="text" id="time" name="endTime">

    <label for="slot"> Forenoon or Afternoon (AM or PM) </label>
    <input type="text" id="time" name="mm">

    <label for="Availability"> Enter your Availability (Available or NotAvailable)</label>
    <input type="text" id="availability" name="availability">

    <div>

      <input type="submit" name ="save" value="Save">
    </div>
  </form>
