<%- include("partials/header") -%>
<link href="css/profile.css" rel="stylesheet">

<h1><%= name %>'s Profile</h1>
  <form class="" action="/UpdatePassword" method="post">
    <label for="password">Old Password:</label>
    <input type="password" id="oldPswd" name="oldPswd">

    <label for="password">New Password:</label>
    <input type="password" id="newPswd" name="newPswd">

    <div>
      <input type="submit" name ="save" value="Update Password">
    </div>

  </form>
