<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Update.css">

<form class="update" action="/UpdateID" method="post">

<div class="ID">
  <br>
  <label for="id">New Id:</label>
  <input type="text" id="id" name="NewId">
</div>
<br>
  <div class="save">
    <input type="submit" name ="save" value="Update ID">
  </div>
</form>
