<%- include("partials/header") -%>
<link href="css/profile.css" rel="stylesheet">

<h1><%= name %>'s Profile</h1>
  <form class="" action="/UpdateID" method="post">

    <label for="text">Old Id:</label>
    <input type="text" id="id" name="OldId" value=<%= id%>>

    <label for="text">New Id:</label>
    <input type="text" id="id" name="NewId" >

    <div>
      <input type="submit" name ="save" value="Update ID">
    </div>

  </form>
