<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Update.css">

<form class="update" action="/UpdatePassword" method="post">
  <br>
  <div class="pswd">
    <label for="password">Old Password:</label>
    <input type="password" id="password" name="Oldpassword">
  </div>
<br>
<div class="pswd">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="Newpassword">
</div>
<br>
  <div class="save">
    <input type="submit" name ="save" value="Update Password">
  </div>

</form>
