body{
  background-color: 	#F0FFFF;
}

.navbar-brand{
  color: white;
  font-size: 35px;
  font-display: auto;
  text-align: left;
  position: relative;
  right: 75%;
}

.fcc-btn{
  font-size: 18px;
  color: white;

}
.buttons{
  position: relative;
  left: 18%;
}
.navbar-expand-lg{
  background-color: #5D3891;
}

.footer{
  font-size: 0px;
  text-align: bottom;
}
